


/*Background*/

.background{
    background-color: #c0c0c0;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 600px;
}

/*dropdown menu width*/
.custom-dropdown-menu{
    min-width: 8px;
}

/*blue button colour*/
.blue-button-color{
    background-color: #006;
    border-color: #006;

}

/*yellow button colour*/
.yellow-button-color{
    background-color: #e18400;
    border-color: #e18400;

}

/*yellow colour */
.yellow-colour{
    color: #e18400;
}

/*blue colour */
.blue-colour
{
    color: #006;
}

/*logo*/
.logo{
    font-weight: bolder;
    font-size: larger;
}

/*text weight in navbar*/
.nav-text{
    font-weight: 600;
}

h1{
    color: white;
}

/* Custom CSS for form*/
.my-custom-container {
    max-width: 400px; /* Adjust the width as needed */
    /* Add any other custom styles for the container if required */
}
