<!DOCTYPE html>
<html>
<head>
    <title>Admin Portal</title>
</head>
<body>
    <h1>Admin Portal</h1>
    <button onclick="location.href='/showPendingPatients'">Pending Patients Registration Requests</button>
    <button onclick="location.href='/showPendingDoctors'">Pending Doctors Registration Requests</button>
    <button onclick="location.href='/showRegisteredPatients'">Registered Patients</button>
    <button onclick="location.href='/showRegisteredDoctors'">Registered Doctors</button>
</body>
</html>
