{% extends "base.html" %}

{% block title %}title{% endblock %}

{% block content %}
    <section class="vh-75  gradient-custom " style="background-image: url('{{ url_for('static', filename='header-bg.jpg') }}'); background-size: cover; background-position: center; min-height: 550px" >
  <div class="container py-5 h-75">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-1 pb-1 pb-md-0 mb-md-5">Doctor Registration Form</h3>
            <form  method="post" action="/patientAPI" >

              <div class="row">
                <div class="col-md-6 mb-2">

                  <div class="form-outline">
                    <input type="text" id="name" name="name" class="form-control form-control" required/>
                    <label class="form-label ms-1" for="name">Name</label>
                  </div>

                </div>
                <div class="col-md-6 mb-2">

                  <div class="form-outline">
                    <input type="text" id="speciality" name="speciality" class="form-control form-control" required />
                    <label class="form-label ms-1" for="speciality">Speciality</label>
                  </div>

                </div>
              </div>

                <div class="row">
                <div class="col-md-6 mb-2 pb-2">

                  <div class="form-outline">
                    <input type="text" id="experience" name="experience" step="0.1" class="form-control form-control" required/>
                    <label class="form-label ms-1" for="experience" >Experience (in years)</label>
                  </div>

                </div>
                <div class="col-md-6 mb-2 pb-2">

                <div class="col-6">

                  <select class="select form-control" id="city" name="city">

                    <option value="1">Select city</option>
                    <option value="Lahore">Lahore</option>
                    <option value="Karachi">Karachi</option>
                    <option value="Islamabad">Islamabad</option>
                    <option value="Rawalpindi">Rawalpindi</option>
                  </select>
                  <label class="form-label select-label ms-2" >City</label>

                </div>

                </div>

              </div>

                 <div class="row">
                <div class="col-md-6 mb-2 pb-2">

                  <div class="form-outline">
                    <input type="email" id="email" name="email"  class="form-control form-control" required/>
                    <label class="form-label ms-1" for="email">Email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-2 pb-2">

                <div class="col-6">

                  <select class="select form-control" id="gender" name="gender">

                    <option value="1">Select gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                  <label class="form-label select-label ms-2">Gender</label>

                </div>

                </div>

              <div class="row">
                <div class="col-md-6 mb-2 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control" name="phone_no" id="phone_no" required/>
                    <label for="phone_no" class="form-label ms-1">Phone Number</label>
                  </div>

                </div>
                <div class="col-md-6 mb-2">
                     <div class="form-outline">
                    <input type="password" id="password" name="password" class="form-control form-control" required/>
                    <label class="form-label ms-1" for="password">Password</label>
                  </div>


                </div>
              </div>
                     <div class="row">
                <div class="col-md-6 mb-2 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control" name="hospital_name"  id="hospital_name" required/>
                    <label for="hospital_name" class="form-label ms-1">Hospital Name:</label>
                  </div>

                </div>
                     </div>

              </div>

              <div class="mt-2 pt-2">
                <input class="  btn btn-secondary blue-button-color" type="submit" value="Register" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
{% endblock %}