body {
  /*background-image: url('../public/images/background.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-color: black;*/
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  background-color: brown;
  text-shadow: 2px 2px 3px black;
}
/*#f33221*/
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: black;

}


.brown-background {
  background-color: brown;
}

.yellow-background {
  background-color: #fafaad;
}