body {
  /*background-image: url('../public/images/background.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-color: black;*/
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*main page background*/
.mainBackground{
  background-image: linear-gradient(rgba(0, 8, 29, 0.9) , rgba(0, 8, 29, 0.3)),url('../public/images/mainBg.png');
   background-size: cover;
  background-position: center;
  min-height: 45rem;

}

/*welcome tag line*/
.tagline{
  font-size: 3rem;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: chocolate;
  text-shadow: 2px 2px 3px black;
}
/*#f33221*/
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: black;

}

/*website name*/
h4
{
    color: white;
    text-shadow: 2px 2px 3px black;
}

.brown-background {
  background-color: brown;
}

.yellow-background {
  background-color: #fafaad;
}